@charset "UTF-8";

.img{
  height: 500px;
}

.back-img{
  background-image: url(../../image/coffee-background.jpg);
}

.norepeat-img{
  background-image: url(../../image/coffee-background.jpg) no-repeat;
}

.size-img{
  background-image: url(../../image/coffee-background.jpg) no-repeat center/cover;
}

.position-img{
  background-image: url(../../image/coffee-background.jpg) no-repeat center/contain;
}