@charset "UTF-8";

.header{
  width: 100%;
  position: flex;
  inset: 0;
  margin: 0 auto;
  background-color: #388bff;
}

.navi-bar{
  width: 1100px;
  margin: 0 auto;
}

.common{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon{
  font-size: 24px;
  font-weight: bold;
}

.header-icon a{
  color: #f2ff7b;
}

a{
  text-decoration: none;
}

.navi li{
  padding: 30px;
}

li a{
  color: #ffff;
}

