@charset "UTF-8";

.speech-bubbles{
  position: relative;
  width: 500px;
  background: #fad296;
  font-size: 16px;
  line-height: 16px;
  border:solid 5px #8f5a0a;
  border-radius: 30px;
  padding: 20px;
  margin: auto;
}

.speech-bubbles::before,
.speech-bubbles::after{
  position: absolute;
  content: "";
  border:solid 20px transparent;
  left: 30px;
}

.speech-bubbles::before{
  border-top:solid 20px #8f5a0a;
  bottom: -44px;
}

.speech-bubbles::after{
  border-top:solid 20px #fad296;
  bottom: -37px;
}