@charset "UTF-8";

/* カード内の画像は以下のURLを使用して下さい */
/* https://picsum.photos/id/1005/200/300 */

.green-box{
  width: 200px;
  height: 200px;
  background-color: #76ff826b;
  margin: 0 auto;
}

/*9-1 フェードイン*/
.fade-in{
  animation:fadein 4s ease-in forwards;
}

@keyframes fadein{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

/*9-2 フェードアウト*/
.fade-out{
  animation:fadeout 4s ease 4s normal;
}

@keyframes fadeout{
  0%{opacity: 1;}
  100%{opacity: 0;}
}

/*9-3 回転*/
.spin{
  animation:spin 4s linear infinite;
}

@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

.purple-box{
  width: 200px;
  height: 200px;
  background-color: #331aefd0;
  margin: 0 auto;
  transition: 0.5s;
}

/*9-4 色変更*/
.hover-color:hover{
  background-color: #ff27e2c9;
}

/*9-5 回転*/
.hover-spin:hover{
  transition: transform 0.5s;
  transform: rotate(360deg);
}

/*9-6 上にスライド*/
.slide-up:hover{
  transform:translate(0,-20px)
}

/*9-7 下にスライド*/
.slide-right:hover{
  transform: translate(20px,0);
}

/*9-8 縦に引き伸ばし*/
.longitudinally:hover{
  height: 300px;
}

/*9-9 横に引き伸ばし*/
.extend-transversely:hover{
  width: 500px;
}

/*9-10 箱の中に枠線*/
.frame-border:hover{
  border: 10px #00ffe5 solid;
  box-sizing:border-box;
}

/*9-11 箱に影*/
.box-shadow:hover{
  box-shadow:8px 11px 10px 3px #06031ed0;
}
